@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(59, 30, 84, 0.7), rgba(0, 0, 0, 1)), rgba(155, 126, 189, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* .message-container{
  scrollbar-width: thin; 
  scrollbar-color: rgb(147 51 234) #f1f1f1; 
  border-radius: 6px;
}

.coversation-container{
  scrollbar-width: thin; 
  scrollbar-color: rgba(147 51 234,0.3) rgb(147 51 234); 
  border-radius: 6px;
} */

.message-container {
  scrollbar-width: thin;
  scrollbar-color: rgb(147 51 234) #f1f1f1; 
}

.message-container::-webkit-scrollbar {
  width: 12px; 
}

.message-container::-webkit-scrollbar-thumb {
  background: rgb(147 51 234);
  border-radius: 20%; 
}

.message-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px; 
}

.message-container::-webkit-scrollbar-thumb {
  min-height: 10px; 
}

.conversation-container {
  scrollbar-width: thin;
  scrollbar-color: #fff rgb(147 51 234);
}

.conversation-container::-webkit-scrollbar {
  width: 5px;
}

.conversation-container::-webkit-scrollbar-thumb {
  background: rgba(147, 51, 234, 0.3);
  border-radius: 6px;
}

.conversation-container::-webkit-scrollbar-track {
  background: rgb(147, 51, 234);
  border-radius: 6px;
}

.conversation-container::-webkit-scrollbar-thumb {
  min-height: 1px;
}
